#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        base_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T &kp Y
                &kp A &kp S &kp D &kp F &kp G &kp H
                &kp Z &kp X &kp C &kp V &kp B &kp N
                &trans &mo LOWER &kp SPACE
            >;
        };
        lower_layer {
            bindings = <
                &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6
                &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N4) &kp LS(N5) &kp LS(N6)
                &kp GRAVE &kp QMARK &kp EXCL &kp AT &kp HASH &kp DOLLAR
                &trans &trans &trans
            >;
        };
    };
};
